.sidebar {
    width: calc(min(100%, 530px));
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.sidebar-wide {
    width: calc(min(60%, calc(530px * 2)));
}

.sidebar-top {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar-top-vehicles {
    display: flex;
    flex-direction: column;
}

.sidebar-top-info {
    overflow-y: scroll;
    margin-left: 5px;
}

.company {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.sidebar-companies {
    width: calc(min(100%, 530px));
    flex-grow: 1;
    overflow-y: scroll;
}

.vehicle-buttons {
    display: flex;
    flex-wrap: wrap;
}
.sidebar-bottom {
    display: flex;
}

.sidebar-divider {
    height: 8px;
    background: #ccc;
    cursor: row-resize;
    user-select: none;
}

.sidebar-buttons {
    width: calc(min(100%, 530px));
}

.new-vehicle {
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: palegreen;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.new-delivery {
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: lightblue;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.new-simulate {
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: lightcoral;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sub-text {
    font-size: 18px;
}

.sidebar-top-info .title{
    margin-top: 50px;
    text-align: left;
}

.sidebar-top-info .sub-title {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.sidebar-top-info .sub-text {
    color: black;
    margin-left: 10px;
}

.pickup-points, .dropoff-points, .vehicle-points {
    text-align: left;
    overflow-y: scroll;
    width: 500px;
    background: #ccc;
    margin-bottom: 50px;
    border-radius: 10px;
}

.pickup-point {
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: lightblue;
    color: black;
    cursor: pointer;
}
.label {
    margin-top: 0.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}

.pickup-points .input-container,
.dropoff-points .input-container,
.vehicle-points .input-container,
.add-randoms-view .input-container{
    background: lightblue;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    background: gray;
    border-radius: 10px;
}

.add-delivery-button, .add-vehicle-button, .add-random-vehicle-button, .add-random-delivery-button {
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: palegreen;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.add-pickup-point {
    margin: 10px;
    align-items: center;
    justify-content: center;
    background: palegreen;
    color: black;
    cursor: pointer;
    width: 480px;
}

.route {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-bottom: 50px;
    padding: 5px;
    outline: none;
    background: gray;
    border-radius: 10px;
    width: 500px;
}

.route-destinations {
    display: flex;
    flex-direction: column;
}

.destination-title,
.destination-distance,
.destination-load {
    margin: 5px;
    text-align: start;
}

.route-index{
    margin: 10px;
    padding: 15px;
    outline: none;
    background: darkgray;
    border-radius: 100%;
}

.destination-type {
    padding: 10px;
    outline: none;
    background: #5d8989;
    border-radius: 10px;
    width: 350px;
    font-weight: bold;
}

.delete-destination {
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: lightcoral;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    width: 370px;
}

.delete-route {
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background: lightcoral;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    width: 380px;
}

.destination {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px;
    padding: 5px;
    outline: none;
    background: darkgray;
    border-radius: 10px;
    width: 370px;
    position: relative;
    z-index: 1;
}

.destination-arrow {
    margin-left: 44px;
    z-index: 2;
    margin-top: -45px;
}

.destination-arrow-line {
    width: 20px;
    height: 30px;
    margin-left: 10px;
    background-color: coral;
}

.destination-arrow-head{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid coral;
}